<tr id="comment-<%= comment.id %>" class="mb-3">
  <td>
    <div class="d-flex justify-content-between">
      <h3 class="small m-0">
        <%= comment.user.name %>
      </h3>
      <p class="small m-0">投稿日時：<%= l(comment.created_at, format: :custom) %></p>
    </div>

    <!-- 場合分けによって下とのスペースを調整。 -->
    <% if current_user.own?(comment) %>
      <div class="card mb-1">
        <div class="card-body">
          <p><%= simple_format(comment.body) %></p>
        </div>
      </div>
    <% else %>
      <div class="card mb-5">
        <div class="card-body">
          <p><%= simple_format(comment.body) %></p>
        </div>
      </div>
    <% end %>
  </td>

  <% if current_user.own?(comment) %>
    <td class="action">
      <ul class="list-inline d-flex justify-content-end mb-5">
        <%= link_to "編集", edit_article_comment_path(comment.article, comment), class: "btn btn-primary me-2" %>
        <%= link_to "削除", article_comment_path(comment.article, comment), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
      </ul>
    </td>
  <% end %>
</tr>