<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <!-- タイトルとタグ -->
      <div class="d-flex justify-content-between align-items-center">
        <h1 style="display: inline;"><%= @article.title %></h1>
        <div class="ms-0">
          <strong>タグ:</strong>
          <% @article.tags.each_with_index do |tag, index| %>
            <%= link_to tag.name, tag_path(tag) %>
            <% if index < @article.tags.count - 1 %>
              <span>,</span>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="d-flex justify-content-end align-items-center mt-0">
        <!-- 名前と日付 -->
        <ul class="list-inline mb-0">
          <li class="list-inline-item"><%= "by #{@article.user.name}" %></li>
          <li class="list-inline-item"><%= l @article.created_at, format: :long %></li>
        </ul>
      </div>
    
      <!-- いいねとブックマーク -->
      <div class="d-flex justify-content-end align-items-center mt-2">
        <!-- いいね -->
        <div class="favorite-wrapper d-flex align-items-center me-3">
          <span class="me-0">いいね：</span>
          <% if @article.favorited_by?(current_user) %>
            <%= link_to article_favorites_path(@article), method: :delete, class: "text-danger" do %>
              <span style="color:red;">❤︎</span>
            <% end %>
          <% else %>
            <%= link_to article_favorites_path(@article), method: :post, class: "text-secondary" do %>
              <span>❤︎</span>
            <% end %>
          <% end %>
          <span class="ms-2"><%= @article.favorites.count %></span>
        </div>
    
        <!-- ブックマーク -->
        <div class="bookmark-wrapper d-flex align-items-center">
          <span class="me-0">ブックマーク：</span>
          <%= render 'bookmark_buttons', { article: @article } %>
        </div>
      </div>

      <!-- 記事本文 -->
      <article class="card mt-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-9">
              <p><%= simple_format(@article.body) %></p>
            </div>
          </div>
        </div>
      </article>

      <div class="d-flex justify-content-between mt-3">
        <%= link_to "戻る", articles_path, class: "btn btn-secondary" %>
        <% if current_user && current_user.own?(@article) %>
          <div class='d-flex'>
            <%= link_to "編集", edit_article_path(@article), class: "btn btn-primary me-2", id: "button-edit-#{@article.id}" %>
            <%= link_to "削除", article_path(@article), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
          </div>
        <% end %>
      </div>

      <div class="mt-5 mb-5 pt-5">
        <h2><%= "コメント" %></h2>
      </div>
      <div>
        <%= render @comments %>
      </div>
      <div class="mt-5 mb-5 pt-5">
        <%= render 'comments/form', comment: @comment, article: @article %>
      </div>
    </div>
  </div>
</div>