<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
    <h1 style="display: inline;"><%= @article.title %></h1>
      <article class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-9">
              <p><%= simple_format(@article.body) %></p>
              <ul class="list-inline position-absolute" style="bottom: 1px; right: 10px;">
                <li class="list-inline-item"><%= "by #{@article.user.name}" %></li>
                <li class="list-inline-item"><%= l @article.created_at, format: :long %></li>
              </ul>
            </div>
          </div>
        </div>
      </article>

      <div class="d-flex justify-content-between mt-3">
        <%= link_to "戻る", articles_path, class: "btn btn-secondary" %>
        <% if current_user && current_user.own?(@article) %>
          <div class='d-flex'>
            <%= link_to "編集", edit_article_path(@article), class: "btn btn-primary me-2", id: "button-edit-#{@article.id}" %>
            <%= link_to "削除", article_path(@article), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
          </div>
        <% end %>
      </div>

      <div class="mt-5 mb-5 pt-5">
        <h2><%= "コメント" %></h2>
      </div>
      <div>
      <%= render @comments %>
      </div>
      <div class="mt-5 mb-5 pt-5">
      <%= render 'comments/form', comment: @comment, article: @article %>
      </div>
    </div>
  </div>
</div>